In [271]:
import pandas as pd
import os

def abrir_csv(path):
    
    df = pd.read_csv(path)
    return df

path_archivo = os.path.join('Free_Press_Index_2019_2024.csv')
df = abrir_csv(path_archivo)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  179 non-null    int64
 1   Country     179 non-null    object
 2   2019_Rank   179 non-null    float64
 3   2019_Score  179 non-null    float64
 4   2020_Rank   179 non-null    float64
 5   2020_Score  179 non-null    float64
 6   2021_Rank   179 non-null    float64
 7   2021_Score  179 non-null    float64
 8   2022_Rank   179 non-null    float64
 9   2022_Score  179 non-null    float64
 10  2023_Rank   179 non-null    float64
 11  2023_Score  179 non-null    float64
 12  2024_Rank   179 non-null    float64
 13  2024_Score  179 non-null    float64
dtypes: float64(12), int64(1), object(1)
memory usage: 19.7+ KB

In [272]:
df.columns

Index(['Unnamed: 0', 'Country', '2019_Rank', '2019_Score', '2020_Rank',
       '2020_Score', '2021_Rank', '2021_Score', '2022_Rank', '2022_Score',
       '2023_Rank', '2023_Score', '2024_Rank', '2024_Score'],
      dtype='object')

In [273]:
df.rename(columns={'Unnamed: 0': 'Rank'}, inplace=True)
df['Rank'] = df['Rank'].astype(int)
df.columns

Index(['Rank', 'Country', '2019_Rank', '2019_Score', '2020_Rank', '2020_Score',
       '2021_Rank', '2021_Score', '2022_Rank', '2022_Score', '2023_Rank',
       '2023_Score', '2024_Rank', '2024_Score'],
      dtype='object')

In [274]:
df

,Rank,Country,2019_Rank,2019_Score,2020_Rank,2020_Score,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,122.0,62.30,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,84.0,69.75,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,146.0,54.48,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,37.0,76.77,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,106.0,66.08,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,147.0,54.34,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,175.0,25.29,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,167.0,41.75,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,120.0,63.00,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,126.0,59.05,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31

In [275]:
df1 = pd.read_csv('countries_gdp_hist.csv', sep=';')

df1

,country_code,region_name,sub_region_name,intermediate_region,country_name,income_group,year,total_gdp,total_gdp_million,gdp_variation
0,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1960,0.000000e+00,0.000000,0.000000
1,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1961,0.000000e+00,0.000000,0.000000
2,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1962,0.000000e+00,0.000000,0.000000
3,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1963,0.000000e+00,0.000000,0.000000
4,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1964,0.000000e+00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
13755,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2019,2.571741e+10,25717.409842,-6.332446
13756,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2020,2.686794e+10,26867.936445,-7.816951
13757,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2021,2.724052e+10,27240.515109,8.468017
13758,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2022,3.278975e+10,32789.751736,6.139263
13759,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2023,3.523137e+10,35231.367886,5.336730

In [276]:
df1.info()
df1 = df1.drop('country_code', axis=1)
df1 = df1.drop('region_name', axis=1)
df1 = df1.drop('sub_region_name', axis=1)
df1 = df1.drop('intermediate_region', axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13760 entries, 0 to 13759
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_code         13760 non-null  object
 1   region_name          13760 non-null  object
 2   sub_region_name      13760 non-null  object
 3   intermediate_region  13760 non-null  object
 4   country_name         13760 non-null  object
 5   income_group         13760 non-null  object
 6   year                 13760 non-null  int64
 7   total_gdp            13760 non-null  float64
 8   total_gdp_million    13760 non-null  float64
 9   gdp_variation        13760 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 1.0+ MB

In [277]:
df1 = df1[df1['year'].isin([2019, 2020, 2021, 2022, 2023])]
df1['country_name'] = df1['country_name'].str.title()
df1['income_group'] = df1['income_group'].str.title()
df1.rename(columns={'country_name': 'Country'}, inplace=True)

df1

,Country,income_group,year,total_gdp,total_gdp_million,gdp_variation
59,Aruba,Ingreso Alto,2019,3.395799e+09,3395.798883,-2.232440
60,Aruba,Ingreso Alto,2020,2.481857e+09,2481.857123,-26.211821
61,Aruba,Ingreso Alto,2021,2.929447e+09,2929.446578,24.132627
62,Aruba,Ingreso Alto,2022,3.279344e+09,3279.343544,8.517918
63,Aruba,Ingreso Alto,2023,3.648573e+09,3648.573136,4.263719
...,...,...,...,...,...,...
13755,Zimbabwe,Países De Ingreso Mediano Bajo,2019,2.571741e+10,25717.409842,-6.332446
13756,Zimbabwe,Países De Ingreso Mediano Bajo,2020,2.686794e+10,26867.936445,-7.816951
13757,Zimbabwe,Países De Ingreso Mediano Bajo,2021,2.724052e+10,27240.515109,8.468017
13758,Zimbabwe,Países De Ingreso Mediano Bajo,2022,3.278975e+10,32789.751736,6.139263
13759,Zimbabwe,Países De Ingreso Mediano Bajo,2023,3.523137e+10,35231.367886,5.336730

In [278]:
df_2019 = df1[df1['year'] == 2019]
df_2020 = df1[df1['year'] == 2020]
df_2021 = df1[df1['year'] == 2021]
df_2022 = df1[df1['year'] == 2022]
df_2023 = df1[df1['year'] == 2023]

In [279]:
df_2019.rename(columns={
    'income_group': '2019_income_group',
    'total_gdp': '2019_total_gdp',
    'total_gdp_million': '2019_total_gdp_million',
    'gdp_variation': '2019_gdp_variation'
}, inplace=True)

df_2019.drop('year', axis=1, inplace=True)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\536969214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\536969214.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.drop('year', axis=1, inplace=True)

In [280]:
df_2020.rename(columns={
    'income_group': '2020_income_group',
    'total_gdp': '2020_total_gdp',
    'total_gdp_million': '2020_total_gdp_million',
    'gdp_variation': '2020_gdp_variation'
}, inplace=True)

df_2020.drop('year', axis=1, inplace=True)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\3847465496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\3847465496.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.drop('year', axis=1, inplace=True)

In [281]:
df_2021.rename(columns={
    'income_group': '2021_income_group',
    'total_gdp': '2021_total_gdp',
    'total_gdp_million': '2021_total_gdp_million',
    'gdp_variation': '2021_gdp_variation'
}, inplace=True)

df_2021.drop('year', axis=1, inplace=True)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\36742326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\36742326.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.drop('year', axis=1, inplace=True)

In [282]:
df_2022.rename(columns={
    'income_group': '2022_income_group',
    'total_gdp': '2022_total_gdp',
    'total_gdp_million': '2022_total_gdp_million',
    'gdp_variation': '2022_gdp_variation'
}, inplace=True)

df_2022.drop('year', axis=1, inplace=True)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\1844764410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\1844764410.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022.drop('year', axis=1, inplace=True)

In [283]:
df_2023.rename(columns={
    'income_group': '2023_income_group',
    'total_gdp': '2023_total_gdp',
    'total_gdp_million': '2023_total_gdp_million',
    'gdp_variation': '2023_gdp_variation'
}, inplace=True)

df_2023.drop('year', axis=1, inplace=True)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\1972740198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15372\1972740198.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.drop('year', axis=1, inplace=True)

In [284]:
df_2019

,Country,2019_income_group,2019_total_gdp,2019_total_gdp_million,2019_gdp_variation
59,Aruba,Ingreso Alto,3.395799e+09,3395.798883,-2.232440
123,Afghanistan,Países De Ingreso Bajo,1.879944e+10,18799.444490,3.911603
187,Angola,Países De Ingreso Mediano Bajo,7.089796e+10,70897.962732,-0.702273
251,Albania,Ingreso Mediano Alto,1.558511e+10,15585.105131,2.062568
315,Andorra,Ingreso Alto,3.155149e+09,3155.149348,2.015548
...,...,...,...,...,...
13499,Samoa,Países De Ingreso Mediano Bajo,9.129505e+08,912.950466,4.451859
13563,Yemen,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000
13627,South Africa,Ingreso Mediano Alto,3.893300e+11,389330.032224,0.259936
13691,Zambia,Países De Ingreso Mediano Bajo,2.330867e+10,23308.667781,1.441306
13755,Zimbabwe,Países De Ingreso Mediano Bajo,2.571741e+10,25717.409842,-6.332446

In [285]:
df_2020

,Country,2020_income_group,2020_total_gdp,2020_total_gdp_million,2020_gdp_variation
60,Aruba,Ingreso Alto,2.481857e+09,2481.857123,-26.211821
124,Afghanistan,Países De Ingreso Bajo,1.995593e+10,19955.929052,-2.351101
188,Angola,Países De Ingreso Mediano Bajo,4.850156e+10,48501.561204,-5.638215
252,Albania,Ingreso Mediano Alto,1.524146e+10,15241.458745,-3.313716
316,Andorra,Ingreso Alto,2.891001e+09,2891.001149,-11.183940
...,...,...,...,...,...
13500,Samoa,Países De Ingreso Mediano Bajo,8.688984e+08,868.898358,-3.108444
13564,Yemen,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000
13628,South Africa,Ingreso Mediano Alto,3.379747e+11,337974.655408,-6.168918
13692,Zambia,Países De Ingreso Mediano Bajo,1.813776e+10,18137.764931,-2.785055
13756,Zimbabwe,Países De Ingreso Mediano Bajo,2.686794e+10,26867.936445,-7.816951

In [286]:
df_2021

,Country,2021_income_group,2021_total_gdp,2021_total_gdp_million,2021_gdp_variation
61,Aruba,Ingreso Alto,2.929447e+09,2929.446578,24.132627
125,Afghanistan,Países De Ingreso Bajo,1.426000e+10,14259.995441,-20.738839
189,Angola,Países De Ingreso Mediano Bajo,6.650513e+10,66505.129988,1.199211
253,Albania,Ingreso Mediano Alto,1.803201e+10,18032.010564,8.969553
317,Andorra,Ingreso Alto,3.324648e+09,3324.647529,8.286779
...,...,...,...,...,...
13501,Samoa,Países De Ingreso Mediano Bajo,8.439236e+08,843.923639,-7.078831
13565,Yemen,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000
13629,South Africa,Ingreso Mediano Alto,4.208869e+11,420886.877629,4.955033
13693,Zambia,Países De Ingreso Mediano Bajo,2.209642e+10,22096.416932,6.234922
13757,Zimbabwe,Países De Ingreso Mediano Bajo,2.724052e+10,27240.515109,8.468017

In [287]:
df_2022

,Country,2022_income_group,2022_total_gdp,2022_total_gdp_million,2022_gdp_variation
62,Aruba,Ingreso Alto,3.279344e+09,3279.343544,8.517918
126,Afghanistan,Países De Ingreso Bajo,1.449724e+10,14497.243872,-6.240172
190,Angola,Países De Ingreso Mediano Bajo,1.043997e+11,104399.746853,3.044727
254,Albania,Ingreso Mediano Alto,1.901724e+10,19017.242586,4.826688
318,Andorra,Ingreso Alto,3.380613e+09,3380.612573,9.564612
...,...,...,...,...,...
13502,Samoa,Países De Ingreso Mediano Bajo,8.329452e+08,832.945206,-5.306291
13566,Yemen,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000
13630,South Africa,Ingreso Mediano Alto,4.069200e+11,406920.004594,1.911480
13694,Zambia,Países De Ingreso Mediano Bajo,2.916378e+10,29163.782140,5.211224
13758,Zimbabwe,Países De Ingreso Mediano Bajo,3.278975e+10,32789.751736,6.139263

In [288]:
df_2023

,Country,2023_income_group,2023_total_gdp,2023_total_gdp_million,2023_gdp_variation
63,Aruba,Ingreso Alto,3.648573e+09,3648.573136,4.263719
127,Afghanistan,Países De Ingreso Bajo,1.723305e+10,17233.051620,2.710887
191,Angola,Países De Ingreso Mediano Bajo,8.482465e+10,84824.654482,1.001289
255,Albania,Ingreso Mediano Alto,2.354718e+10,23547.179830,3.936625
319,Andorra,Ingreso Alto,3.785067e+09,3785.067332,2.583555
...,...,...,...,...,...
13503,Samoa,Países De Ingreso Mediano Bajo,9.381894e+08,938.189444,8.584091
13567,Yemen,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000
13631,South Africa,Ingreso Mediano Alto,3.806993e+11,380699.271815,0.698485
13695,Zambia,Países De Ingreso Mediano Bajo,2.757796e+10,27577.956471,5.367943
13759,Zimbabwe,Países De Ingreso Mediano Bajo,3.523137e+10,35231.367886,5.336730

In [289]:
df_2019_merged = df.merge(df_2019, on='Country', how='left')
df_2019_merged

,Rank,Country,2019_Rank,2019_Score,2020_Rank,2020_Score,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score,2019_income_group,2019_total_gdp,2019_total_gdp_million,2019_gdp_variation
0,0,Afghanistan,121.0,63.45,122.0,62.30,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09,Países De Ingreso Bajo,1.879944e+10,18799.444490,3.911603
1,1,Albania,82.0,70.16,84.0,69.75,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10,Ingreso Mediano Alto,1.558511e+10,15585.105131,2.062568
2,2,Algeria,141.0,54.25,146.0,54.48,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98,Ingreso Mediano Alto,1.934597e+11,193459.662091,0.900000
3,3,Andorra,37.0,75.37,37.0,76.77,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44,Ingreso Alto,3.155149e+09,3155.149348,2.015548
4,4,Angola,109.0,65.04,106.0,66.08,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44,Países De Ingreso Mediano Bajo,7.089796e+10,70897.962732,-0.702273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,147.0,54.34,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06,NaN,NaN,NaN,NaN
175,175,Vietnam,176.0,25.07,175.0,25.29,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31,NaN,NaN,NaN,NaN
176,176,Yemen,168.0,38.34,167.0,41.75,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000
177,177,Zambia,119.0,63.62,120.0,63.00,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38,Países De Ingreso Mediano Bajo,2.330867e+10,23308.667781,1.441306
178,178,Zimbabwe,127.0,57.77,126.0,59.05,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31,Países De Ingreso Mediano Bajo,2.571741e+10,25717.409842,-6.332446

In [290]:
cols_2019 = ['2019_income_group', '2019_total_gdp', '2019_total_gdp_million', '2019_gdp_variation']
pos = df_2019_merged.columns.get_loc('2019_Score') + 1
cols = list(df_2019_merged.columns)
for col in cols_2019:
    cols.remove(col)
for i, col in enumerate(cols_2019):
    cols.insert(pos + i, col)
df_2019_merged = df_2019_merged[cols]
df_2019_merged

,Rank,Country,2019_Rank,2019_Score,2019_income_group,2019_total_gdp,2019_total_gdp_million,2019_gdp_variation,2020_Rank,2020_Score,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,Países De Ingreso Bajo,1.879944e+10,18799.444490,3.911603,122.0,62.30,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,Ingreso Mediano Alto,1.558511e+10,15585.105131,2.062568,84.0,69.75,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,Ingreso Mediano Alto,1.934597e+11,193459.662091,0.900000,146.0,54.48,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,Ingreso Alto,3.155149e+09,3155.149348,2.015548,37.0,76.77,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,Países De Ingreso Mediano Bajo,7.089796e+10,70897.962732,-0.702273,106.0,66.08,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,167.0,41.75,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,Países De Ingreso Mediano Bajo,2.330867e+10,23308.667781,1.441306,120.0,63.00,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,Países De Ingreso Mediano Bajo,2.571741e+10,25717.409842,-6.332446,126.0,59.05,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31

In [291]:
df_2020_merged = df_2019_merged.merge(df_2020, on='Country', how='left')
cols_2020 = ['2020_income_group', '2020_total_gdp', '2020_total_gdp_million', '2020_gdp_variation']
pos = df_2020_merged.columns.get_loc('2020_Score') + 1
cols = list(df_2020_merged.columns)
for col in cols_2020:
    cols.remove(col)
for i, col in enumerate(cols_2020):
    cols.insert(pos + i, col)
df_2020_merged = df_2020_merged[cols]
df_2020_merged

,Rank,Country,2019_Rank,2019_Score,2019_income_group,2019_total_gdp,2019_total_gdp_million,2019_gdp_variation,2020_Rank,2020_Score,...,2020_total_gdp_million,2020_gdp_variation,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,Países De Ingreso Bajo,1.879944e+10,18799.444490,3.911603,122.0,62.30,...,19955.929052,-2.351101,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,Ingreso Mediano Alto,1.558511e+10,15585.105131,2.062568,84.0,69.75,...,15241.458745,-3.313716,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,Ingreso Mediano Alto,1.934597e+11,193459.662091,0.900000,146.0,54.48,...,164873.415325,-5.000000,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,Ingreso Alto,3.155149e+09,3155.149348,2.015548,37.0,76.77,...,2891.001149,-11.183940,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,Países De Ingreso Mediano Bajo,7.089796e+10,70897.962732,-0.702273,106.0,66.08,...,48501.561204,-5.638215,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,NaN,NaN,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,NaN,NaN,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,167.0,41.75,...,0.000000,0.000000,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,Países De Ingreso Mediano Bajo,2.330867e+10,23308.667781,1.441306,120.0,63.00,...,18137.764931,-2.785055,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,Países De Ingreso Mediano Bajo,2.571741e+10,25717.409842,-6.332446,126.0,59.05,...,26867.936445,-7.816951,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31

In [292]:
df_2021_merged = df_2020_merged.merge(df_2021, on='Country', how='left')
cols_2021 = ['2021_income_group', '2021_total_gdp', '2021_total_gdp_million', '2021_gdp_variation']
pos = df_2021_merged.columns.get_loc('2021_Score') + 1
cols = list(df_2021_merged.columns)
for col in cols_2021:
    cols.remove(col)
for i, col in enumerate(cols_2021):
    cols.insert(pos + i, col)
df_2021_merged = df_2021_merged[cols]
df_2021_merged

,Rank,Country,2019_Rank,2019_Score,2019_income_group,2019_total_gdp,2019_total_gdp_million,2019_gdp_variation,2020_Rank,2020_Score,...,2021_income_group,2021_total_gdp,2021_total_gdp_million,2021_gdp_variation,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,Países De Ingreso Bajo,1.879944e+10,18799.444490,3.911603,122.0,62.30,...,Países De Ingreso Bajo,1.426000e+10,14259.995441,-20.738839,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,Ingreso Mediano Alto,1.558511e+10,15585.105131,2.062568,84.0,69.75,...,Ingreso Mediano Alto,1.803201e+10,18032.010564,8.969553,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,Ingreso Mediano Alto,1.934597e+11,193459.662091,0.900000,146.0,54.48,...,Ingreso Mediano Alto,1.862312e+11,186231.205262,3.800000,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,Ingreso Alto,3.155149e+09,3155.149348,2.015548,37.0,76.77,...,Ingreso Alto,3.324648e+09,3324.647529,8.286779,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,Países De Ingreso Mediano Bajo,7.089796e+10,70897.962732,-0.702273,106.0,66.08,...,Países De Ingreso Mediano Bajo,6.650513e+10,66505.129988,1.199211,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,NaN,NaN,NaN,NaN,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,NaN,NaN,NaN,NaN,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,167.0,41.75,...,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,Países De Ingreso Mediano Bajo,2.330867e+10,23308.667781,1.441306,120.0,63.00,...,Países De Ingreso Mediano Bajo,2.209642e+10,22096.416932,6.234922,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,Países De Ingreso Mediano Bajo,2.571741e+10,25717.409842,-6.332446,126.0,59.05,...,Países De Ingreso Mediano Bajo,2.724052e+10,27240.515109,8.468017,137.0,44.94,126.0,48.17,116.0,50.31

In [293]:
df_2022_merged = df_2021_merged.merge(df_2022, on='Country', how='left')
cols_2022 = ['2022_income_group', '2022_total_gdp', '2022_total_gdp_million', '2022_gdp_variation']
pos = df_2022_merged.columns.get_loc('2022_Score') + 1
cols = list(df_2022_merged.columns)
for col in cols_2022:
    cols.remove(col)
for i, col in enumerate(cols_2022):
    cols.insert(pos + i, col)
df_2022_merged = df_2022_merged[cols]
df_2022_merged

,Rank,Country,2019_Rank,2019_Score,2019_income_group,2019_total_gdp,2019_total_gdp_million,2019_gdp_variation,2020_Rank,2020_Score,...,2022_Rank,2022_Score,2022_income_group,2022_total_gdp,2022_total_gdp_million,2022_gdp_variation,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,Países De Ingreso Bajo,1.879944e+10,18799.444490,3.911603,122.0,62.30,...,156.0,38.27,Países De Ingreso Bajo,1.449724e+10,14497.243872,-6.240172,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,Ingreso Mediano Alto,1.558511e+10,15585.105131,2.062568,84.0,69.75,...,103.0,56.41,Ingreso Mediano Alto,1.901724e+10,19017.242586,4.826688,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,Ingreso Mediano Alto,1.934597e+11,193459.662091,0.900000,146.0,54.48,...,134.0,45.53,Ingreso Mediano Alto,2.256385e+11,225638.456572,3.600000,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,Ingreso Alto,3.155149e+09,3155.149348,2.015548,37.0,76.77,...,53.0,68.79,Ingreso Alto,3.380613e+09,3380.612573,9.564612,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,Países De Ingreso Mediano Bajo,7.089796e+10,70897.962732,-0.702273,106.0,66.08,...,99.0,57.17,Países De Ingreso Mediano Bajo,1.043997e+11,104399.746853,3.044727,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,159.0,37.78,NaN,NaN,NaN,NaN,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,174.0,26.11,NaN,NaN,NaN,NaN,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,167.0,41.75,...,169.0,29.14,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,Países De Ingreso Mediano Bajo,2.330867e+10,23308.667781,1.441306,120.0,63.00,...,109.0,55.40,Países De Ingreso Mediano Bajo,2.916378e+10,29163.782140,5.211224,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,Países De Ingreso Mediano Bajo,2.571741e+10,25717.409842,-6.332446,126.0,59.05,...,137.0,44.94,Países De Ingreso Mediano Bajo,3.278975e+10,32789.751736,6.139263,126.0,48.17,116.0,50.31

In [294]:
df_2023_merged = df_2022_merged.merge(df_2023, on='Country', how='left')
cols_2023 = ['2023_income_group', '2023_total_gdp', '2023_total_gdp_million', '2023_gdp_variation']
pos = df_2023_merged.columns.get_loc('2023_Score') + 1
cols = list(df_2023_merged.columns)
for col in cols_2023:
    cols.remove(col)
for i, col in enumerate(cols_2023):
    cols.insert(pos + i, col)
df_2023_merged = df_2023_merged[cols]
df_2023_merged

,Rank,Country,2019_Rank,2019_Score,2019_income_group,2019_total_gdp,2019_total_gdp_million,2019_gdp_variation,2020_Rank,2020_Score,...,2022_total_gdp_million,2022_gdp_variation,2023_Rank,2023_Score,2023_income_group,2023_total_gdp,2023_total_gdp_million,2023_gdp_variation,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,Países De Ingreso Bajo,1.879944e+10,18799.444490,3.911603,122.0,62.30,...,14497.243872,-6.240172,152.0,39.75,Países De Ingreso Bajo,1.723305e+10,17233.051620,2.710887,178.0,19.09
1,1,Albania,82.0,70.16,Ingreso Mediano Alto,1.558511e+10,15585.105131,2.062568,84.0,69.75,...,19017.242586,4.826688,96.0,57.86,Ingreso Mediano Alto,2.354718e+10,23547.179830,3.936625,99.0,54.10
2,2,Algeria,141.0,54.25,Ingreso Mediano Alto,1.934597e+11,193459.662091,0.900000,146.0,54.48,...,225638.456572,3.600000,136.0,45.74,Ingreso Mediano Alto,2.476262e+11,247626.161016,4.100000,139.0,41.98
3,3,Andorra,37.0,75.37,Ingreso Alto,3.155149e+09,3155.149348,2.015548,37.0,76.77,...,3380.612573,9.564612,37.0,75.05,Ingreso Alto,3.785067e+09,3785.067332,2.583555,72.0,61.44
4,4,Angola,109.0,65.04,Países De Ingreso Mediano Bajo,7.089796e+10,70897.962732,-0.702273,106.0,66.08,...,104399.746853,3.044727,125.0,48.30,Países De Ingreso Mediano Bajo,8.482465e+10,84824.654482,1.001289,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,NaN,NaN,159.0,36.99,NaN,NaN,NaN,NaN,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,NaN,NaN,178.0,24.58,NaN,NaN,NaN,NaN,174.0,22.31
176,176,Yemen,168.0,38.34,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,167.0,41.75,...,0.000000,0.000000,168.0,32.78,Países De Ingreso Bajo,0.000000e+00,0.000000,0.000000,154.0,33.67
177,177,Zambia,119.0,63.62,Países De Ingreso Mediano Bajo,2.330867e+10,23308.667781,1.441306,120.0,63.00,...,29163.782140,5.211224,87.0,59.41,Países De Ingreso Mediano Bajo,2.757796e+10,27577.956471,5.367943,95.0,55.38
178,178,Zimbabwe,127.0,57.77,Países De Ingreso Mediano Bajo,2.571741e+10,25717.409842,-6.332446,126.0,59.05,...,32789.751736,6.139263,126.0,48.17,Países De Ingreso Mediano Bajo,3.523137e+10,35231.367886,5.336730,116.0,50.31

In [295]:
def guardar_en_csv(df_filtrado, nombre_archivo):
    '''
    Args:
        df_filtrado: DataFrame con las columnas filtradas
        nombre_archivo (str): nombre del archivo de salida en csv
    '''

    df_filtrado.to_csv(nombre_archivo, index=False)

guardar_en_csv(df_2023_merged, 'Prensa_Ingreso.csv')